/* Стили регистрации */

.steps-block {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255 255 255/.3);
    border-radius: 20px;
    padding: 20px;
}

.steps-header {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin: 0;
}

.steps-subheader {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    margin: 8px 0 0 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    margin-bottom: 24px;
}

.step {
    display: none;
    flex-direction: column;
    gap: 8px;
    /*margin: 24px 0;*/
    /*margin-top: 0;*/
}

.steps-block {
    width: 375px;
}

@media (max-width: 500px) {
    .steps-block {
        width: 90vw;
    }

    .step {
        width: 100%;
    }
}

.step.active {
    /*display: flex;*/
    /*margin-top: 24px;*/
}

.step.active,
.step.completed {
    display: flex;
}

.step.completed {
    opacity: 0.5; /* Можно использовать для визуального отличия завершенных шагов */
}

.step.completed input:disabled,
.step.completed select:disabled {
    color: #999; /* Цвет текста для отключенных полей */
    pointer-events: none; /* Полное отключение взаимодействия */
    cursor: not-allowed; /* Указатель в виде запрещающего знака */
}


/*.onboarding {*/
/*    background: */
/*}*/

.onboarding-labels {
    color: rgba(255, 255, 255, 0.80);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

.step input, select {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(3px);
    padding: 16px;
    color: #fff;
    font-size: 16px;
}

.step input::placeholder {
    color: #fff;
}


.button {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background: #FFB94C;
    backdrop-filter: blur(3px);
}

.button-back {
    border-radius: 12px;
    border: 1px solid rgba(255, 185, 76, 0.16);
    background: rgba(255, 185, 76, 0.16);
    backdrop-filter: blur(3px);
    color: #FFB94C;
}

.gender-options {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    gap: 8px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(3px);
}

.gender-button {
    width: 33%;
    padding: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.64);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
}

@media (max-width: 500px) {
    .gender-button {
        font-size: 12px;
    }
}

.gender-button.active {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(3px);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
}

@media (max-width: 500px) {
    .gender-button.active {
        font-size: 12px;
    }
}

.consent-container {
    margin-top: 20px;
}

.consent-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.consent-item input {
    margin-right: 10px;
}

.buttons {
    display: flex;
    gap: 16px;

    margin-top: 20px;
}

/* Скрываем заголовок на шагах 4 и 5 */
#step-header {
    display: block;
}

/* Стили для контейнеров шагов */
.steps-container,
.step-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrapper-of-all-steps {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 92vh;
    overflow: auto;

    /*scrollbar-width: none; !* Для Firefox *!*/
    /*-ms-overflow-style: none; !* Для Internet Explorer *!*/
    /*overflow: hidden;*/
}

/* Скрываем кнопки "Назад" на первом шаге */
.button-back {
    display: none;
}


/*чекбоксы для Onboarding*/

.checkbox-custom--consent {
    display: flex;
    gap: 8px;
    position: relative;
}

.checkbox-custom--consent::before {
    flex-shrink: 0;
    content: '';
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px; /* Квадратные углы для чекбоксов */
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    top: 2px;
}

.checkbox-custom--consent::after {
    content: ''; /* По умолчанию ничего не показываем */
    display: none; /* Скрыто */
    width: 10px;
    height: 10px;
    background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2210.0957%22%20height%3D%2210.3418%22%3E%20%3Cg%3E%20%3Crect%20height%3D%2210.3418%22%20opacity%3D%220%22%20width%3D%2210.0957%22%20x%3D%220%22%20y%3D%220%22/%3E%20%3Cpath%20d%3D%22M3.82031%2010.3418C4.07227%2010.3418%204.27148%2010.2305%204.41211%2010.0137L9.94922%201.29492C10.0547%201.125%2010.0957%200.996094%2010.0957%200.861328C10.0957%200.539062%209.88477%200.328125%209.5625%200.328125C9.32812%200.328125%209.19922%200.404297%209.05859%200.626953L3.79688%209.01172L1.06641%205.4375C0.919922%205.23242%200.773438%205.15039%200.5625%205.15039C0.228516%205.15039%200%205.37891%200%205.70117C0%205.83594%200.0585938%205.98828%200.169922%206.12891L3.21094%2010.002C3.38672%2010.2305%203.56836%2010.3418%203.82031%2010.3418Z%22%20fill%3D%22%23000000%22%20fill-opacity%3D%220.85%22/%3E%20%3C/g%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    left: 7px;
}

.checkbox-custom--consent {
    font-size: 14px;
    color: rgb(255 255 255 / .8);
    line-height: 20px;
}

.checkbox-custom--consent__highlight {
    color: #FFB94C;
    opacity: .8
}


/* Появление галочки в активном состоянии */
.checkbox-input:checked + .checkbox-custom--consent::after {
    display: flex; /* Показываем только в активном состоянии */
    justify-content: center;
}

.checkbox-input:checked + .checkbox-custom--consent::before {
    background-color: #FFB94C;
    border-color: #FFB94C;
}

.onboarding-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('img/bg-stars-rounds.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.onboarding-select {
    height: 56px;
    color: white;
    background: #421F47;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 16px;
    /*border: 1px solid #ccc;*/
    border: 1px solid rgb(255 255 255/.1);
    appearance: none;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    background-color: rgb(85, 54, 90);
    color: rgb(255 255 255/.54);
}

.input-icon-container--month {
    width: 140px;
    flex-shrink: 0;
}

.input-icon-container--time {
    /*width: 140px;*/
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.input-icon-container--time input {
    width: 100%;
}

.onboarding__time-icon {
    position: absolute;
    right: 16px;
    top: 18px;
}

.onboarding-select--month {
    width: 100%;
    flex-shrink: 0;
}

.onboarding-select option {
    color: black;
    margin-bottom: 20px;
    background: rgb(213, 206, 215);
    padding-block: 6px;
}

.input-icon-container--city {
    margin-top: 10px;
}

.onboarding-select--country {
    width: 100%;
    flex-shrink: 0;
}

/*Убираем иконку-дропдауна для инпутов с даталистом */
input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.city-container {
    margin-top: 2px;
}

.data-inputs-wrapper {
    display: flex;
    gap: 10px;
}

.data-inputs-wrapper input {
    width: 30%;
    padding: 10px;
}

/*Убрать кнопки для инпутов type number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox убираем стрелки */
input[type="number"] {
    -moz-appearance: textfield;
}

.onboarding__birth-time-label {
    margin-top: 20px;
}

.onboarding__country-label {
    margin-top: 14px;
}


.onboarding__nickname-input {
    margin-bottom: 16px;
}

.onboarding__email-input {
    margin-bottom: 16px;
}

.step-screen--final {
    background: black;
    border-radius: 20px;
}

.onboarding__final-step-overlay {
    /*background-image: url('img/bg-stars-rounds.png');  Черный потом сюда вставим */  
    background-image: none;
    background-color: black; /* Базовый цвет фона */
    
    
    /*Это все убрать, наверное, нужно будет: todo*/
    
    /*background-image: url('img/galact.png'), !* Верхнее изображение *! url('img/background.png'); !* Нижнее изображение *!*/
    /*background-repeat: no-repeat, repeat; !* Настройка повторения для обоих изображений *!*/
    /*background-position: center calc(50% - 100px), center; !* Центрирование обоих изображений *!*/
    /*background-blend-mode: normal, screen; !* Режим наложения для каждого слоя *!*/
    /*background-size: 375px auto, auto; !* Масштабирование для обоих изображений *!*/
}

@media (max-width: 500px) {
    .onboarding__final-step-overlay {
        background-size: 100vw auto, auto; /* Масштабирование для обоих изображений */
    }

}

.steps-subheader--step5 {
    margin-bottom: 32vh;
}

.onboarding--final-step-subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.onboarding__list {
    list-style: none;
    display: flex;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.onboarding__final-step-process-indicator {
    width: 8px;
    height: 8px;
    background: white;
    opacity: .4;
    border-radius: 50%;
}

.onboarding__final-step-process-indicator.active {
    opacity: 1;
}

/*Стили для попапа выбора города*/

.onboarding__city-popup-underlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0 0 0/.8);
    display: none;
}

.onboarding__city-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    min-height: 328px;
    border-radius: 20px;
    background: #421F47;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media (max-width: 500px) {
    .onboarding__city-popup {
        width: 90vw;
    }

}

.onboarding__city-input {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* это инпут "Нажмите для выбора" на шаге Выбора места рожения, он сделан дивом, чтобы подсказки не всплывали */

.onboarding__city-input--div {
    color: rgb(255 255 255/0.54);
}

.onboarding__city-input {
    margin-bottom: 24px;
}

.onboarding__popular-cities {
    height: 210px;
    overflow: auto;    
    list-style: none;
}

.onboarding__popular-cities-wrapper-for-scroll {
    height: 230px;
    background: rgba(255, 255, 255, 0.10);
    padding: 12px;
    margin-top: 16px;
    margin-bottom: 26px;
    border-radius: 20px;
}

.onboarding__popular-cities::-webkit-scrollbar {
    width: 6px; /* Ширина скроллбара */
}

/* Стиль для "ползунка" скроллбара */
.onboarding__popular-cities::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 /.2); 
    border-radius: 8px; /* Скругленные углы */

}

/* Стиль для области скроллбара */
.onboarding__popular-cities::-webkit-scrollbar-track {
    background-color: transparent; /* Цвет фона области скроллбара */
    border-radius: 10px; /* Скругленные углы */
}


.onboarding__city-item {
    color: rgba(255, 255, 255, 0.54);
    cursor: pointer;
    padding-block: 10px;
}

.onboarding__city-item:hover {
    color: white;
}

.onboarding__coord-label {
    margin-bottom: 16px;
}

.onboarding__coord-inputs-label {
    margin-bottom: 4px;
    display: block;
    font-size: 10px;
    color: rgb(255 255 255 /.4)
}

.onboarding__coord-inputs {
    display: flex;
    gap: 19px;
    margin-bottom: 26px;
}

.onboarding__city-popup-btn {
    border: 1px solid rgba(255, 185, 76, 0.16);
    backdrop-filter: blur(3px);
    color: #421F47;
}

.onboarding__city-popup-btn:disabled {
    background: rgba(255, 185, 76, 0.16);

    color: #564F45;
}



/****************************************/


.onboarding__animation {
    /*transform: scale(.5);*/
}

.game-loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #273355;
}
.game-loader__btn {
    position: fixed;
    outline: none;
    min-width: 16vw;
    min-height: 4vw;
    bottom: 10vh;
    z-index: 10001;
    background: transparent;
    border: 2px solid #11dbd9;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 0.5em 1em;
    transition: 1s;
}
.game-loader__btn:hover {
    background: #11dbd9;
}
.game-loader__planet {
    filter: url('#goo');
    position: relative;
    width: 100vw;
    height: 100vw;
}
.game-loader__planet::after {
    content: '';
    display: block;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background: #11dbd9;
    box-shadow: #11dbd9 0 0 24px 4px;
    margin: 0 auto;
    position: absolute;
    top: 46vw;
    left: 46vw;
    animation: scale 16s linear infinite, color5 8s linear 1;
}
.game-loader__planet .loader-mini1 {
    position: absolute;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #11dbd9;
    top: 48.5vw;
    left: 48.5vw;
    animation: move1 8s linear 1, color1 8s linear 1;
}
.game-loader__planet .loader-mini2 {
    position: absolute;
    width: 3.6vw;
    height: 3.6vw;
    border-radius: 50%;
    background: #11dbd9;
    top: 48.5vw;
    left: 48.5vw;
    animation: move2 9s linear 1, color2 9s linear 1;
}
.game-loader__planet .loader-mini3 {
    position: absolute;
    width: 4.2vw;
    height: 4.2vw;
    border-radius: 50%;
    background: #11dbd9;
    top: 48.5vw;
    left: 48.5vw;
    animation: move3 10s linear 1, color3 10s linear 1;
}
.game-loader__planet .loader-mini4 {
    position: absolute;
    width: 4.8vw;
    height: 4.8vw;
    border-radius: 50%;
    background: #11dbd9;
    top: 48.5vw;
    left: 48.5vw;
    animation: move4 11s linear 1, color4 11s linear 1;
}
.game-loader__planet .loader-radius1 {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    border: 0.5px solid #11dbd9;
    opacity: 0.2;
    background: transparent;
    top: 44vw;
    left: 44vw;
    transform: scale(0);
    animation: orbit1 8s linear 1;
}
.game-loader__planet .loader-radius2 {
    position: absolute;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: 0.5px solid #11dbd9;
    opacity: 0.2;
    background: transparent;
    transform: scale(0);
    top: 41vw;
    left: 41vw;
    animation: orbit2 9s linear 1;
}
.game-loader__planet .loader-radius3 {
    position: absolute;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    border: 0.5px solid #11dbd9;
    opacity: 0.2;
    background: transparent;
    transform: scale(0);
    top: 38vw;
    left: 38vw;
    animation: orbit3 10s linear 1;
}
.game-loader__planet .loader-radius4 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: 0.5px solid #11dbd9;
    opacity: 0.2;
    background: transparent;
    transform: scale(0);
    top: 35vw;
    left: 35vw;
    animation: orbit4 11s linear 1;
}
.game-loader__planet--color .loader-mini1 {
    background: #0fc3c2;
}
.game-loader__planet--color .loader-mini2 {
    background: #0dacaa;
}
.game-loader__planet--color .loader-mini3 {
    background: #0b9493;
}
.game-loader__planet--color .loader-mini4 {
    background: #0a7c7b;
}
.btn-play {
    left: 41vw;
}
@keyframes move1 {
    0% {
        transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
    }
    10% {
        transform: skewX(5deg) rotate(180deg) translateY(-6vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
    }
    25% {
        transform: skewX(5deg) rotate(360deg) translateY(-12vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
    }
    50% {
        transform: skewX(5deg) rotate(720deg) translateY(-12vw) rotate(720deg) skewX(-5deg) rotate(720deg);
    }
    75% {
        transform: skewX(5deg) rotate(1080deg) translateY(-12vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
    }
    90% {
        transform: skewX(5deg) rotate(1260deg) translateY(-6vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
    }
    100% {
        transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
    }
}
@keyframes move2 {
    0% {
        transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
    }
    10% {
        transform: skewX(5deg) rotate(180deg) translateY(-9vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
    }
    25% {
        transform: skewX(5deg) rotate(360deg) translateY(-18vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
    }
    50% {
        transform: skewX(5deg) rotate(720deg) translateY(-18vw) rotate(720deg) skewX(-5deg) rotate(720deg);
    }
    75% {
        transform: skewX(5deg) rotate(1080deg) translateY(-18vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
    }
    90% {
        transform: skewX(5deg) rotate(1260deg) translateY(-9vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
    }
    100% {
        transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
    }
}
@keyframes move3 {
    0% {
        transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
    }
    10% {
        transform: skewX(5deg) rotate(180deg) translateY(-12vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
    }
    25% {
        transform: skewX(5deg) rotate(360deg) translateY(-24vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
    }
    50% {
        transform: skewX(5deg) rotate(720deg) translateY(-24vw) rotate(720deg) skewX(-5deg) rotate(720deg);
    }
    75% {
        transform: skewX(5deg) rotate(1080deg) translateY(-24vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
    }
    90% {
        transform: skewX(5deg) rotate(1260deg) translateY(-12vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
    }
    100% {
        transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
    }
}
@keyframes move4 {
    0% {
        transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
    }
    10% {
        transform: skewX(5deg) rotate(180deg) translateY(-15vw) rotate(-180deg) skewX(-5deg) rotate(180deg);
    }
    25% {
        transform: skewX(5deg) rotate(360deg) translateY(-30vw) rotate(-360deg) skewX(-5deg) rotate(360deg);
    }
    50% {
        transform: skewX(5deg) rotate(720deg) translateY(-30vw) rotate(720deg) skewX(-5deg) rotate(720deg);
    }
    75% {
        transform: skewX(5deg) rotate(1080deg) translateY(-30vw) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
    }
    90% {
        transform: skewX(5deg) rotate(1260deg) translateY(-15vw) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
    }
    100% {
        transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
    }
}
@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@keyframes orbit1 {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    25% {
        transform: scale(2.2);
    }
    35% {
        transform: scale(2.1);
    }
    50% {
        transform: scale(2);
    }
    65% {
        transform: scale(2.1);
    }
    75% {
        transform: scale(2);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes orbit2 {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    25% {
        transform: scale(2.2);
    }
    35% {
        transform: scale(2.1);
    }
    50% {
        transform: scale(2);
    }
    65% {
        transform: scale(2.1);
    }
    75% {
        transform: scale(2);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes orbit3 {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    25% {
        transform: scale(2.2);
    }
    35% {
        transform: scale(2.1);
    }
    50% {
        transform: scale(2);
    }
    65% {
        transform: scale(2.1);
    }
    75% {
        transform: scale(2);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes orbit4 {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    25% {
        transform: scale(2.2);
    }
    35% {
        transform: scale(2.1);
    }
    50% {
        transform: scale(2);
    }
    65% {
        transform: scale(2.1);
    }
    75% {
        transform: scale(2);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes color1 {
    10% {
        background: #11dbd9;
    }
    50% {
        background: #ff217b;
    }
    90% {
        background: #11dbd9;
    }
}
@keyframes color2 {
    10% {
        background: #11dbd9;
    }
    50% {
        background: #ff7878;
    }
    90% {
        background: #11dbd9;
    }
}
@keyframes color3 {
    10% {
        background: #11dbd9;
    }
    50% {
        background: #ffa283;
    }
    90% {
        background: #11dbd9;
    }
}
@keyframes color4 {
    10% {
        background: #11dbd9;
    }
    50% {
        background: #962a4e;
    }
    90% {
        background: #11dbd9;
    }
}
@keyframes color5 {
    10% {
        background: #11dbd9;
        box-shadow: #11dbd9 0 0 24px 4px;
    }
    50% {
        background: #13c2d3;
        box-shadow: #13c2d3 0 0 24px 4px;
    }
    90% {
        background: #11dbd9;
        box-shadow: #11dbd9 0 0 24px 4px;
    }
}
.game-loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
svg {
    position: absolute;
    z-index: -100;
    pointer-events: none;
}
 

